{% extends 'base.html.twig' %}

{% block title  %}
{% endblock %}

{% block body %}
<div class ="container mt-4">
 <div class="row text-center">
   <div class="col-md-4 ">
    <figure><img src="../../assets/aristote.png" class="img-responsive" alt=""></figure>
      <div class="button">
        <a href="{{path('app_edit_editBook')}}" class="Cbtn Cbtn-primary">Modifier</a>
        <a href="#" class="Cbtn Cbtn-danger">effacer</a>
      </div>
      <div class="button">
        <a href="#" class="Cbtn Cbtn-primary">emprunté</a>
        <span class="custom-dropdown big">
            <select >    
                <option>balen</option>
                <option> halder</option>  
                <option> jegr</option>
            </select>
        </span>
     </div>
   </div>
   <div class="col-md-4">
    <table class="table table-striped">
            <tr>
                <td> Titre</td>
                <td>dfgfdg</td>
            </tr>
            <tr>
                <td>Auteur</td>
                <td>dfgfdg</td>
            </tr>
                <tr>
                <td>Date</td>
                <td>dfgfdg</td>
            </tr>
                <tr>
                <td>Catégorie</td>
                <td>dfgfdg</td>
            </tr>
                <tr>
                <td>Résumé</td>
                <td>dfgfdg</td>
            </tr>
            </tr>
                <tr>
                <td>Etat</td>
                <td>  <input type="checkbox" id="scales" name="scales"
         checked></td>
            </tr>
     </table>
     </div>

  </div>
</div>

{% endblock %}