{% extends 'base.html.twig' %}

{% block title  %}

{% block body %}
    <div class ="container mt-4">
        <div class="row">
            <div class="col-md-8">
                <table class="table table-striped">
                    <tr>
                        <td>Nom</td>
                        <td>Akoi</td>
                    </tr>
                    <tr>
                        <td>Prénom</td>
                        <td>Balen</td>
                    </tr>
                        <tr>
                        <td>Identifiant</td>
                        <td>12345l7</td>
                    </tr>
                        <tr>
                        <td>Liste des livres</td>
                        <td>Histoire</td>
                    </tr>
                        <tr>
                        <td>Nombre de livres</td>
                        <td>3</td>
                    </tr>
                </table>
                <div class="button">
                    <a href="#" class="Cbtn Cbtn-danger">effacer</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% endblock %}